# Categorical Feature Encoding Challenge 2

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")
train.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [3]:
train.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month',
       'target'],
      dtype='object')

In [4]:
del train["id"]

In [5]:
del train["nom_5"]

In [6]:
del train["nom_6"]

In [7]:
del train["nom_7"]

In [8]:
del train["nom_8"]

In [9]:
del train["nom_9"]

In [10]:
train.ord_5.value_counts()

Fl    10562
DN     9527
Sz     8654
RV     5648
oJ     5596
      ...
vw      189
gV      124
vQ      120
eA       91
Zv       87
Name: ord_5, Length: 190, dtype: int64

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 19 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   bin_0   582106 non-null  float64
 1   bin_1   581997 non-null  float64
 2   bin_2   582070 non-null  float64
 3   bin_3   581986 non-null  object
 4   bin_4   581953 non-null  object
 5   nom_0   581748 non-null  object
 6   nom_1   581844 non-null  object
 7   nom_2   581965 non-null  object
 8   nom_3   581879 non-null  object
 9   nom_4   581965 non-null  object
 10  ord_0   581712 non-null  float64
 11  ord_1   581959 non-null  object
 12  ord_2   581925 non-null  object
 13  ord_3   582084 non-null  object
 14  ord_4   582070 non-null  object
 15  ord_5   582287 non-null  object
 16  day     582048 non-null  float64
 17  month   582012 non-null  float64
 18  target  600000 non-null  int64
dtypes: float64(6), int64(1), object(12)
memory usage: 87.0+ MB

In [12]:
y = train["target"]

In [13]:
del train["target"]

In [14]:
train = pd.get_dummies(train,drop_first=True)

In [31]:
test = pd.read_csv("test.csv")
test.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,600000,0.0,0.0,0.0,F,Y,Blue,Polygon,Axolotl,Finland,...,ca9ad1d4b,fced9e114,3.0,Novice,Boiling Hot,f,U,oU,3.0,9.0
1,600001,0.0,0.0,0.0,F,Y,Red,Circle,Lion,Russia,...,060a21580,7ca8775da,1.0,Novice,Cold,n,N,NaN,2.0,8.0
2,600002,0.0,0.0,0.0,F,Y,Blue,Circle,Axolotl,Russia,...,165e81a00,5940334c9,1.0,Expert,Warm,i,N,DN,2.0,6.0
3,600003,1.0,0.0,0.0,F,N,Red,Polygon,Axolotl,Costa Rica,...,77d41330d,6fbdeefc8,1.0,Expert,Hot,m,B,AG,1.0,6.0
4,600004,0.0,0.0,1.0,F,Y,Red,Circle,NaN,Finland,...,2218d9dfe,2a27c8fde,1.0,Contributor,Lava Hot,o,J,DT,3.0,3.0

In [16]:
len(test)

400000

In [17]:
del test["id"]

In [18]:
del test["nom_5"]

In [19]:
del test["nom_6"]

In [20]:
del test["nom_7"]

In [21]:
del test["nom_8"]

In [22]:
del test["nom_9"]

In [23]:
test = pd.get_dummies(test,drop_first=True)

In [24]:
sample = pd.read_csv("sample_submission.csv")
sample.head()

       id  target
0  600000     0.5
1  600001     0.5
2  600002     0.5
3  600003     0.5
4  600004     0.5

In [25]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(train,y,test_size = .2, random_state = 42)

In [26]:
from xgboost import XGBClassifier
predict = XGBClassifier().fit(x_train,y_train).predict(test)

/opt/anaconda3/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[12:52:33] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [27]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix,precision_score,recall_score,f1_score
accuracy_score(y_test,predict), precision_score(y_test,predict) ,recall_score(y_test,predict), f1_score(y_test,predict)

ValueError: Found input variables with inconsistent numbers of samples: [120000, 400000]

In [28]:
predict

array([0, 0, 0, ..., 0, 0, 0])

In [30]:
predict = pd.DataFrame(predict)

In [29]:
len(predict)

400000

In [32]:
a = test["id"]
a = pd.DataFrame(a)

In [33]:
sonuc = a.merge(predict,left_index=True, right_index=True)
sonuc

            id  0
0       600000  0
1       600001  0
2       600002  0
3       600003  0
4       600004  0
...        ... ..
399995  999995  1
399996  999996  0
399997  999997  0
399998  999998  0
399999  999999  0

[400000 rows x 2 columns]

In [34]:
sonuc.columns = ["id","target"]

In [35]:
sonuc.to_csv("sonuc.csv", index=False)