# University of Liverpool - Ion Switching

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")
train.head()

     time  signal  open_channels
0  0.0001 -2.7600              0
1  0.0002 -2.8557              0
2  0.0003 -2.4074              0
3  0.0004 -3.1404              0
4  0.0005 -3.1525              0

In [5]:
len(train)

5000000

In [6]:
y = train["open_channels"]

In [7]:
del train["open_channels"]

In [3]:
test = pd.read_csv("test.csv")
test.head()

       time  signal
0  500.0001 -2.6498
1  500.0002 -2.8494
2  500.0003 -2.8600
3  500.0004 -2.4350
4  500.0005 -2.6155

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   time           float64
 1   signal         float64
 2   open_channels  int64
dtypes: float64(2), int64(1)
memory usage: 114.4 MB

In [8]:
from xgboost import XGBClassifier
predict = XGBClassifier().fit(train,y).predict(test)

/opt/anaconda3/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[18:48:48] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [9]:
predict = pd.DataFrame(predict)

In [10]:
predict

         0
0        2
1        2
2        1
3        2
4        2
...     ..
1999995  1
1999996  2
1999997  2
1999998  1
1999999  2

[2000000 rows x 1 columns]

In [11]:
time = test["time"]

In [12]:
time = pd.DataFrame(time)

In [13]:
sonuc = time.merge(predict,left_index=True, right_index=True)

In [15]:
sonuc.columns = ['time', "open_channels"]

In [16]:
sonuc.to_csv("sonuc.csv", index=False)