# Tabular Playground Series - Sep 2022

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")
train.head()

,row_id,date,country,store,product,num_sold
0,0,2017-01-01,Belgium,KaggleMart,Kaggle Advanced Techniques,663
1,1,2017-01-01,Belgium,KaggleMart,Kaggle Getting Started,615
2,2,2017-01-01,Belgium,KaggleMart,Kaggle Recipe Book,480
3,3,2017-01-01,Belgium,KaggleMart,Kaggle for Kids: One Smart Goose,710
4,4,2017-01-01,Belgium,KaggleRama,Kaggle Advanced Techniques,240

In [3]:
del train["row_id"]

In [4]:
y = train["num_sold"]

In [5]:
del train["num_sold"]

In [6]:
test = pd.read_csv("test.csv")
test.head()

   row_id        date  country       store                           product
0   70128  2021-01-01  Belgium  KaggleMart        Kaggle Advanced Techniques
1   70129  2021-01-01  Belgium  KaggleMart            Kaggle Getting Started
2   70130  2021-01-01  Belgium  KaggleMart                Kaggle Recipe Book
3   70131  2021-01-01  Belgium  KaggleMart  Kaggle for Kids: One Smart Goose
4   70132  2021-01-01  Belgium  KaggleRama        Kaggle Advanced Techniques

In [7]:
train['date'] = pd.to_datetime(train['date'])
test['date'] = pd.to_datetime(test['date'])
train['Year'] = train['date'].dt.year
train['Month'] = train['date'].dt.month
train['Day'] = train['date'].dt.day

test['Year'] = test['date'].dt.year
test['Month'] = test['date'].dt.month
test['Day'] = test['date'].dt.day

del train["date"]
del test["date"]

In [8]:
train.head()

   country       store                           product  Year  Month  Day
0  Belgium  KaggleMart        Kaggle Advanced Techniques  2017      1    1
1  Belgium  KaggleMart            Kaggle Getting Started  2017      1    1
2  Belgium  KaggleMart                Kaggle Recipe Book  2017      1    1
3  Belgium  KaggleMart  Kaggle for Kids: One Smart Goose  2017      1    1
4  Belgium  KaggleRama        Kaggle Advanced Techniques  2017      1    1

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70128 entries, 0 to 70127
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  70128 non-null  object
 1   store    70128 non-null  object
 2   product  70128 non-null  object
 3   Year     70128 non-null  int64
 4   Month    70128 non-null  int64
 5   Day      70128 non-null  int64
dtypes: int64(3), object(3)
memory usage: 3.2+ MB

In [10]:
test.isnull().sum()

row_id     0
country    0
store      0
product    0
Year       0
Month      0
Day        0
dtype: int64

In [11]:
train_dum = pd.get_dummies(train,drop_first=True)

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(train_dum,y,test_size = .2, random_state = 42)

In [23]:
import tensorflow as tf

model = tf.keras.Sequential([
    tf.keras.layers.Dense(512, activation="relu"),
    tf.keras.layers.Dense(512, activation="relu"),
    tf.keras.layers.Dense(512, activation="relu"),
    tf.keras.layers.Dense(1, activation="relu")])
model.compile(optimizer="adam", loss="mean_squared_error", metrics=["mse"])
model.fit(x_train, y_train, batch_size=128, epochs=20, verbose=1, validation_data=(x_test,y_test))

Epoch 1/20
439/439 [==============================] - 4s 8ms/step - loss: 16689.9570 - mse: 16689.9570 - val_loss: 15414.3057 - val_mse: 15414.3057
Epoch 2/20
439/439 [==============================] - 3s 7ms/step - loss: 12646.5342 - mse: 12646.5342 - val_loss: 9068.8066 - val_mse: 9068.8066
Epoch 3/20
439/439 [==============================] - 3s 8ms/step - loss: 4538.3672 - mse: 4538.3672 - val_loss: 3278.1831 - val_mse: 3278.1831
Epoch 4/20
439/439 [==============================] - 4s 8ms/step - loss: 3533.1958 - mse: 3533.1958 - val_loss: 2774.9155 - val_mse: 2774.9155
Epoch 5/20
439/439 [==============================] - 4s 8ms/step - loss: 3258.5037 - mse: 3258.5037 - val_loss: 3603.3149 - val_mse: 3603.3149
Epoch 6/20
439/439 [==============================] - 4s 9ms/step - loss: 3228.5991 - mse: 3228.5991 - val_loss: 3650.1997 - val_mse: 3650.1997
Epoch 7/20
439/439 [==============================] - 4s 9ms/step - loss: 3197.4492 - mse: 3197.4492 - val_loss: 3169.1558 - val_mse: 3169.1558
Epoch 8/20
439/439 [==============================] - 4s 10ms/step - loss: 3042.6221 - mse: 3042.6221 - val_loss: 2633.6453 - val_mse: 2633.6453
Epoch 9/20
439/439 [==============================] - 5s 11ms/step - loss: 3096.6602 - mse: 3096.6602 - val_loss: 3098.9656 - val_mse: 3098.9656
Epoch 10/20
439/439 [==============================] - 5s 11ms/step - loss: 2980.2871 - mse: 2980.2871 - val_loss: 3489.0149 - val_mse: 3489.0149
Epoch 11/20
439/439 [==============================] - 5s 11ms/step - loss: 2983.7102 - mse: 2983.7102 - val_loss: 2704.3518 - val_mse: 2704.3518
Epoch 12/20
439/439 [==============================] - 6s 13ms/step - loss: 2932.7100 - mse: 2932.7100 - val_loss: 2550.9358 - val_mse: 2550.9358
Epoch 13/20
439/439 [==============================] - 5s 10ms/step - loss: 2883.2563 - mse: 2883.2563 - val_loss: 2534.6130 - val_mse: 2534.6130
Epoch 14/20
439/439 [==============================] - 5s 11ms/step - loss: 2823.7969 - mse: 2823.7969 - val_loss: 3502.7976 - val_mse: 3502.7976
Epoch 15/20
439/439 [==============================] - 5s 12ms/step - loss: 2864.2600 - mse: 2864.2600 - val_loss: 2484.7908 - val_mse: 2484.7908
Epoch 16/20
439/439 [==============================] - 5s 11ms/step - loss: 2784.6882 - mse: 2784.6882 - val_loss: 3150.0691 - val_mse: 3150.0691
Epoch 17/20
439/439 [==============================] - 4s 10ms/step - loss: 2753.2617 - mse: 2753.2617 - val_loss: 2807.0522 - val_mse: 2807.0522
Epoch 18/20
439/439 [==============================] - 4s 9ms/step - loss: 2681.8220 - mse: 2681.8220 - val_loss: 2548.9700 - val_mse: 2548.9700
Epoch 19/20
439/439 [==============================] - 4s 9ms/step - loss: 2666.2964 - mse: 2666.2964 - val_loss: 2392.1135 - val_mse: 2392.1135
Epoch 20/20
439/439 [==============================] - 4s 9ms/step - loss: 2628.1616 - mse: 2628.1616 - val_loss: 2589.5510 - val_mse: 2589.5510

In [24]:
_, accuracy = model.evaluate(x_test, y_test)
print("Accuracy: %.2f" % (accuracy*100))

439/439 [==============================] - 1s 2ms/step - loss: 2589.5518 - mse: 2589.5518
Accuracy: 258955.18

In [26]:
a = test["row_id"]
a = pd.DataFrame(a)

KeyError: 'row_id'

In [27]:
a

       row_id
0       70128
1       70129
2       70130
3       70131
4       70132
...       ...
17515   87643
17516   87644
17517   87645
17518   87646
17519   87647

[17520 rows x 1 columns]

In [28]:
del test["row_id"]

KeyError: 'row_id'

In [29]:
test_dum = pd.get_dummies(test,drop_first=True)

In [30]:
b = model.predict(test_dum)
b = pd.DataFrame(b)

548/548 [==============================] - 1s 2ms/step

In [31]:
sonuc = a.merge(b,left_index=True, right_index=True)
sonuc

       row_id           0
0       70128  468.023865
1       70129  360.600311
2       70130  300.444427
3       70131  487.497253
4       70132  185.879837
...       ...         ...
17515   87643  382.133301
17516   87644  121.370140
17517   87645  106.950783
17518   87646   74.476479
17519   87647  132.925323

[17520 rows x 2 columns]

In [33]:
sonuc.columns = ['row_id', "num_sold"]

In [35]:
sonuc.to_csv("sonuc.csv", index=False)