# Big Data Machine Learning Classification

In [17]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from pyspark import SparkConf, SparkContext
import collections

from pyspark.ml.classification import GBTClassifier

In [56]:
df = pd.read_csv("yeni.csv")
df.head()

   Unnamed: 0   Age  Total_Purchase  Account_Manager  Years  Num_Sites  Churn
0           0  42.0        11066.80                0   7.22        8.0      1
1           1  41.0        11916.22                0   6.50       11.0      1
2           2  38.0        12884.75                0   6.67       12.0      1
3           3  42.0         8010.76                0   6.71       10.0      1
4           4  37.0         9191.58                0   5.56        9.0      1

In [57]:
v = df["Churn"]

In [61]:
type(v)

pandas.core.series.Series

In [62]:
v = pd.DataFrame(v)

In [52]:
from sklearn.decomposition import PCA
pca=PCA(n_components=1)
x_r=pca.fit_transform(df)

In [53]:
sum(pca.explained_variance_ratio_)

0.9999926772666408

In [54]:
d = pd.DataFrame(x_r)

In [71]:
deneme = d.append(v,ignore_index = True)

In [79]:
r = pd.merge(v, d,left_index=True, right_index=True)

In [72]:
deneme

                0  Churn
0    -1003.975939    NaN
1    -1853.396024    NaN
2    -2821.926301    NaN
3     2052.064051    NaN
4      871.243577    NaN
...           ...    ...
1795          NaN    0.0
1796          NaN    0.0
1797          NaN    0.0
1798          NaN    0.0
1799          NaN    0.0

[1800 rows x 2 columns]

In [64]:
result

     Churn            0
0      1.0          NaN
1      1.0          NaN
2      1.0          NaN
3      1.0          NaN
4      1.0          NaN
..     ...          ...
895    NaN -2737.995945
896    NaN   168.904999
897    NaN -1993.355666
898    NaN  3544.894889
899    NaN   747.223764

[1800 rows x 2 columns]

In [55]:
d

               0
0   -1003.975939
1   -1853.396024
2   -2821.926301
3    2052.064051
4     871.243577
..           ...
895 -2737.995945
896   168.904999
897 -1993.355666
898  3544.894889
899   747.223764

[900 rows x 1 columns]

In [48]:
d.to_csv("big.csv")

In [82]:
import numpy as np
np.savetxt("np.txt", r.values)

In [51]:
df.head()

    Age  Total_Purchase  Account_Manager  Years  Num_Sites
0  42.0        11066.80                0   7.22        8.0
1  41.0        11916.22                0   6.50       11.0
2  38.0        12884.75                0   6.67       12.0
3  42.0         8010.76                0   6.71       10.0
4  37.0         9191.58                0   5.56        9.0

In [50]:
del df["Churn"]

In [41]:
del df["Unnamed: 0"]

In [31]:
del df["Names"]

KeyError: 'Names'

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              900 non-null    float64
 1   Total_Purchase   900 non-null    float64
 2   Account_Manager  900 non-null    int64
 3   Years            900 non-null    float64
 4   Num_Sites        900 non-null    float64
 5   Churn            900 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 42.3 KB

In [80]:
r.to_csv("big_son.csv")

In [38]:
df_new = pd.read_csv("son.csv")

In [39]:
df_new.head()

   Unnamed: 0   Age  Total_Purchase  Account_Manager  Years  Num_Sites  Churn
0           0  42.0        11066.80                0   7.22        8.0      1
1           1  41.0        11916.22                0   6.50       11.0      1
2           2  38.0        12884.75                0   6.67       12.0      1
3           3  42.0         8010.76                0   6.71       10.0      1
4           4  37.0         9191.58                0   5.56        9.0      1

In [8]:
conf = SparkConf().setMaster("local").setAppName("Big Data ML Class.")
sc = SparkContext(conf = conf)

lines = sc.textFile("churn.csv")
ratings = lines.map(lambda x: x.split(",")[2])
result = ratings.countByValue()
sortedResults = collections.OrderedDict(sorted(result.items()))
for key, value in sortedResults.items():
    print("%s %i" % (key, value))
    
sc.stop()

22/08/31 21:07:49 WARN Utils: Your hostname, Mehmet-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.37 instead (on interface en0)
22/08/31 21:07:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/31 21:07:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

22.0 1
25.0 1
26.0 2
27.0 1
28.0 5
29.0 9
30.0 11
31.0 11
32.0 18
33.0 16
34.0 25
35.0 32
36.0 39
37.0 48
38.0 51
39.0 48
40.0 58
41.0 69
42.0 49
43.0 59
44.0 53
45.0 56
46.0 48
47.0 29
48.0 36
49.0 30
50.0 15
51.0 21
52.0 20
53.0 8
54.0 8
55.0 14
56.0 5
58.0 2
60.0 1
65.0 1
Age 1

In [15]:
conf = SparkConf().setMaster("local").setAppName("Big Data ML Class.")
sc = SparkContext(conf = conf)

lines = sc.textFile("churn.csv")
ratings = lines.map(lambda x: x.split(",")[3])
result = ratings.countByValue()
sortedResults = collections.OrderedDict(sorted(result.items()))
for key, value in sortedResults.items():
    print("%s %i" % (key, value))
    
sc.stop()

100.0 1
10005.91 1
10017.82 1
10026.44 1
10028.23 1
10041.13 1
10050.61 1
10054.6 1
10056.55 1
10058.87 1
10074.4 1
10076.71 1
10110.4 1
10133.36 1
10147.22 1
10157.21 1
10166.67 1
10179.92 1
10180.59 1
10182.6 1
10183.98 1
10199.44 1
10203.18 1
10216.59 1
10226.43 1
10236.95 1
10241.32 1
10268.0 1
10268.87 1
10269.97 1
10271.19 1
10276.33 1
10290.14 1
10292.19 1
10298.29 1
10300.24 1
10306.21 1
10309.15 1
10309.71 1
10313.06 1
10314.67 1
10323.07 1
10328.42 1
10332.16 1
10338.09 1
10339.05 1
10345.19 1
10348.37 1
10356.02 1
10358.08 1
10363.63 1
10364.82 1
10367.08 1
10367.14 1
10370.72 1
10375.39 1
10388.38 1
10399.19 1
10400.88 1
10406.58 1
10413.93 1
10427.12 1
10430.5 1
10442.37 1
10445.76 1
10448.09 1
10466.56 1
10469.5 1
10474.94 1
10484.33 1
10491.4 1
10494.82 1
10500.77 1
10510.95 1
10522.21 1
10522.6 1
10526.18 1
10527.52 1
10528.71 1
10530.33 1
10550.87 1
10565.59 1
10578.14 1
10583.76 1
10584.71 1
10585.86 1
10598.35 1
10606.97 1
10617.16 1
10631.84 1
10638.65 1
10638.66 1
10643.67 1
10661.48 1
10668.91 1
10674.92 1
10675.86 1
10697.72 1
10709.39 1
10716.75 1
10718.97 1
10741.9 1
10744.14 1
10746.37 1
10746.69 1
10762.29 1
10770.82 1
10776.82 1
10780.71 1
10788.67 1
10793.11 1
10801.37 1
10806.13 1
10807.46 1
10814.59 1
10827.96 1
10850.78 1
10863.05 1
10877.81 1
10919.81 1
10921.54 1
10930.16 1
10938.11 1
10944.65 1
10960.52 1
10963.5 1
10965.95 1
10976.03 1
10978.16 1
10989.43 1
10999.05 1
11008.0 1
11040.16 1
11047.43 1
11066.8 1
11079.61 1
11082.13 1
11091.21 1
11093.87 1
11111.59 1
11119.11 1
11128.95 1
11144.51 1
11145.95 1
11158.5 1
11159.46 1
11170.06 1
11177.08 1
11185.62 1
11187.93 1
11197.42 1
11204.23 1
11222.48 1
11225.96 1
11226.88 1
11227.39 1
11227.48 1
11245.38 1
11254.38 1
11255.38 1
11274.46 1
11274.98 1
11294.26 1
11294.45 1
11297.57 1
11306.1 1
11309.18 1
11316.41 1
11316.69 1
11321.2 1
11331.58 1
11334.3 1
11335.97 1
11338.94 1
11343.33 1
11360.99 1
11362.95 1
11370.28 1
11375.25 1
11386.56 1
11391.46 1
11401.42 1
11401.63 1
11416.56 1
11424.0 1
11430.75 1
11434.61 1
11473.38 1
11486.53 1
11490.75 1
11517.19 1
11520.18 1
11523.63 1
11527.08 1
11537.69 1
11538.57 1
11540.86 1
11550.29 1
11553.65 1
11555.21 1
11555.42 1
11575.37 1
11575.55 1
11575.84 1
11580.56 1
11584.59 1
11585.16 1
11597.38 1
11599.27 1
11602.11 1
11611.28 1
11611.51 1
11621.67 1
11623.42 1
11628.1 1
11654.34 1
11655.82 1
11667.01 1
11670.32 1
11670.73 1
11674.12 1
11680.91 1
11687.29 1
11695.04 1
11699.26 1
11715.72 1
11738.88 1
11740.0 1
11743.24 1
11756.06 1
11758.69 1
11764.35 1
11768.65 1
11768.71 1
11775.75 1
11783.81 1
11789.33 1
11794.91 1
11799.72 1
11803.58 1
11814.59 1
11828.78 1
11830.36 1
11832.86 1
11849.13 1
11856.28 1
11873.76 1
11887.39 1
11912.13 1
11916.22 1
11916.26 1
11945.5 1
11968.78 1
11971.75 1
12008.34 1
12010.74 1
12019.93 1
12020.62 1
12043.27 1
12056.18 1
12068.39 1
12078.39 1
12086.92 1
12104.25 1
12107.03 1
12112.53 1
12115.91 1
12122.19 1
12142.99 1
12147.83 1
12154.25 1
12155.91 1
12192.94 1
12200.31 1
12200.96 1
12217.95 1
12227.39 1
12247.91 1
12249.96 1
12252.57 1
12254.75 1
12261.79 1
12264.68 1
12277.9 1
12284.58 1
12295.95 1
12300.94 1
12309.23 1
12309.39 1
12328.03 1
12357.31 1
12361.42 1
12374.97 1
12376.37 1
12378.57 1
12397.49 1
12398.62 1
12400.33 1
12401.58 1
12403.6 1
12403.81 1
12410.67 1
12453.72 1
12455.38 1
12455.75 1
12458.8 1
12479.72 1
12495.15 1
12502.81 1
12520.53 1
12524.68 1
12531.39 1
12542.76 1
12547.91 1
12567.53 1
12638.51 1
12654.35 1
12659.88 1
12668.26 1
12680.46 1
12681.35 1
12682.9 1
12691.45 1
12711.15 1
12713.9 1
12721.55 1
12760.01 1
12766.24 1
12772.72 1
12780.22 1
12783.21 1
12788.37 1
12800.82 1
12810.16 1
12813.91 1
12835.19 1
12849.1 1
12871.79 1
12873.63 1
12879.7 1
12884.75 1
12888.85 1
12893.19 1
12893.47 1
12913.55 1
12919.92 1
12925.64 1
12936.64 1
12941.12 1
12975.35 1
12978.81 1
12983.26 1
12987.28 1
12989.06 1
13019.89 1
13029.61 1
13035.91 1
13036.52 1
13074.81 1
13078.28 1
13081.64 1
13091.92 1
13100.75 1
13116.73 1
13118.56 1
13122.89 1
13135.26 1
13157.08 1
13165.68 1
13173.8 1
13173.82 1
13184.51 1
13189.35 1
13190.3 1
13240.01 1
13247.31 1
13255.05 1
13268.55 1
13277.82 1
13296.89 1
13298.38 1
13308.01 1
13314.19 1
13359.2 1
13365.66 1
13366.66 1
13368.21 1
13383.25 1
13460.92 1
13472.79 1
13473.35 1
13480.91 1
13498.28 1
13510.96 1
13532.85 1
13547.39 1
13574.25 1
13574.53 1
13597.5 1
13630.93 1
13650.64 1
13655.59 1
13672.54 1
13680.25 1
13717.41 1
13725.55 1
13731.45 1
13743.12 1
13743.27 1
13743.42 1
13762.79 1
13896.99 1
13915.9 1
13976.64 1
13987.59 1
14003.88 1
14023.22 1
14036.28 1
14062.6 1
14069.41 1
14080.95 1
14099.03 1
14124.0 1
14154.26 1
14155.97 1
14160.05 1
14216.37 1
14241.75 1
14242.7 1
14317.2 1
14361.38 1
14383.36 1
14398.89 1
14425.74 1
14429.41 1
14595.51 1
14664.0 1
14669.61 1
14693.45 1
14715.53 1
14722.35 1
14738.09 1
14838.84 1
15005.43 1
15070.32 1
15188.65 1
15423.03 1
15509.97 1
15516.52 1
15571.26 1
15858.91 1
15878.11 1
16371.42 1
16838.94 1
16955.76 1
18026.01 1
3263.0 1
3676.68 1
3689.95 1
3825.7 1
4111.4 1
4316.73 1
4492.44 1
4523.91 1
4690.57 1
4711.89 1
4762.81 1
4771.65 1
4863.73 1
4992.6 1
4994.48 1
5002.58 1
5024.52 1
5039.46 1
5191.08 1
5192.38 1
5200.06 1
5218.49 1
5304.6 1
5347.74 1
5353.97 1
5387.41 1
5387.75 1
5447.16 1
5515.09 1
5570.45 1
5622.5 1
5647.92 1
5695.21 1
5720.98 1
5738.82 1
5756.12 1
5805.53 1
5830.99 1
5846.65 1
5900.78 1
5907.07 1
5914.3 1
5977.46 1
6065.64 1
6081.5 1
6098.15 1
6114.85 1
6127.84 1
6131.92 1
6168.66 1
6172.23 1
6204.86 1
6244.75 1
6283.67 1
6298.75 1
6330.43 1
6351.79 1
6362.93 1
6367.22 1
6398.91 1
6402.3 1
6406.38 1
6411.25 1
6447.99 1
6452.83 1
6461.86 1
6471.68 1
6495.01 1
6498.85 1
6517.22 1
6517.93 1
6523.74 1
6535.91 1
6569.87 1
6574.25 1
6590.63 1
6623.97 1
6635.19 1
6638.87 1
6662.59 1
6670.37 1
6681.61 1
6683.82 1
6715.23 1
6744.87 1
6749.49 1
6773.23 1
6783.99 1
6805.48 1
6857.29 1
6930.95 1
6977.56 1
6992.09 1
7026.18 1
7062.59 1
7073.61 1
7077.34 1
7097.52 1
7158.66 1
7170.66 1
7178.92 1
7189.31 1
7193.84 1
7222.35 1
7232.06 1
7239.49 1
7277.27 1
7287.57 1
7320.49 1
7324.32 1
7325.93 1
7342.14 1
7351.38 1
7351.72 1
7361.92 1
7362.18 1
7364.12 1
7380.48 1
7396.1 1
7424.11 1
7460.05 1
7464.08 1
7490.92 1
7491.55 1
7492.9 1
7495.6 1
7504.79 1
7529.23 1
7599.36 1
7605.49 1
7636.98 1
7638.13 1
7642.2 1
7656.02 1
7673.0 1
7675.52 1
7683.97 1
7684.02 1
7686.13 1
7713.12 1
7720.61 1
7730.53 1
7736.13 1
7737.57 1
7748.34 1
7750.54 1
7759.15 1
7761.2 1
7762.73 1
7777.37 1
7778.73 1
7810.06 1
7814.68 1
7818.13 1
7819.46 1
7837.67 1
7864.63 1
7876.84 1
7896.65 1
7904.67 1
7915.44 1
7948.18 1
7960.64 1
7961.21 1
7982.38 1
7985.76 1
7996.78 1
8007.18 1
8010.76 1
8011.38 1
8021.05 1
8024.08 1
8042.76 1
8046.4 1
8058.73 1
8066.94 1
8083.76 1
8092.13 1
8092.55 1
8093.03 1
8097.01 1
8099.29 1
8100.43 1
8122.34 1
8131.64 1
8143.38 1
8185.22 1
8190.27 1
8193.77 1
8198.06 1
8207.1 1
8213.41 1
8218.63 1
8232.11 1
8233.25 1
8235.74 1
8243.28 1
8261.89 1
8268.74 1
8270.52 1
8271.02 1
8274.32 1
8280.03 1
8283.32 1
8284.89 1
8286.87 1
8291.93 1
8297.87 1
8316.89 1
8338.05 1
8370.15 1
8375.73 1
8389.84 1
8397.41 1
8403.02 1
8403.78 1
8418.81 1
8427.12 1
8429.65 1
8465.53 1
8473.65 1
8474.11 1
8475.8 1
8480.93 1
8502.52 1
8513.75 1
8514.24 1
8514.8 1
8519.64 1
8523.04 1
8530.23 1
8556.73 1
8558.52 1
8560.76 1
8563.24 1
8575.71 1
8580.85 1
8583.5 1
8588.46 1
8595.24 1
8601.01 1
8603.6 1
8610.43 1
8614.75 1
8615.52 1
8617.98 1
8625.96 1
8626.48 1
8628.8 1
8642.01 1
8644.07 1
8646.2 1
8646.72 1
8662.18 1
8665.79 1
8667.02 1
8670.98 1
8677.28 1
8677.62 1
8688.17 1
8688.21 1
8736.06 1
8748.36 1
8755.02 1
8771.02 1
8772.0 1
8772.26 1
8783.13 1
8787.39 1
8801.13 1
8801.86 1
8815.24 1
8817.22 1
8817.29 1
8818.03 1
8819.13 1
8824.84 1
8825.87 1
8828.59 1
8829.83 1
8840.51 1
8841.3 1
8863.36 1
8871.53 1
8874.83 1
8878.96 1
8880.17 1
8884.39 1
8907.17 1
8907.76 1
8911.91 1
8914.46 1
8917.57 1
8918.52 1
8929.88 1
8930.49 1
8931.09 1
8934.99 1
8939.61 1
8941.92 1
8948.86 1
8950.33 1
8951.42 1
8972.54 1
8986.28 1
8988.67 1
8996.04 1
9000.05 1
9000.31 1
9000.36 1
9004.44 1
9014.9 1
9034.21 1
9036.27 1
9060.28 1
9063.16 1
9065.28 1
9087.9 1
9090.43 1
9091.21 1
9091.99 1
9101.71 1
9133.36 1
9139.73 1
9148.74 1
9166.22 1
9171.56 1
9182.81 1
9191.02 1
9191.58 1
9200.69 1
9214.98 1
9219.4 1
9219.95 1
9228.84 1
9229.96 1
9248.87 1
9261.41 1
9265.59 1
9270.9 1
9282.33 1
9282.99 1
9303.36 1
9303.43 1
9306.05 1
9315.6 1
9317.12 1
9322.44 1
9324.49 1
9347.47 1
9347.89 1
9349.99 1
9351.88 1
9353.38 1
9365.92 1
9378.24 1
9381.12 1
9399.92 1
9401.99 1
9403.58 1
9408.96 1
9419.66 1
9435.2 1
9446.84 1
9451.03 1
9459.52 1
9461.83 1
9472.72 1
9499.3 1
9516.87 1
9519.64 1
9521.35 1
9528.99 1
9541.45 1
9552.57 1
9557.2 1
9574.64 1
9574.89 1
9576.07 1
9577.42 1
9593.71 1
9598.03 1
9601.95 1
9608.45 1
9613.84 1
9617.59 1
9621.04 1
9624.18 1
9625.89 1
9635.87 1
9641.61 1
9649.26 1
9655.25 1
9655.42 1
9672.03 1
9683.85 1
9703.93 1
9706.88 1
9714.47 1
9721.59 1
9722.23 1
9722.92 1
9723.71 1
9735.41 1
9737.34 1
9741.19 1
9743.57 1
9764.39 1
9766.95 1
9771.22 1
9772.95 1
9773.22 1
9779.12 1
9782.83 1
9788.78 1
9793.42 1
9805.7 1
9814.22 1
9815.03 1
9826.29 1
9844.79 1
9845.35 1
9848.4 1
9852.25 1
9853.64 1
9855.18 1
9874.69 1
9879.37 1
9885.12 1
9891.3 1
9893.92 1
9903.78 1
9918.77 1
9919.38 1
9921.89 1
9922.3 1
9923.79 1
9940.54 1
9940.76 1
9951.97 1
9957.26 1
9982.55 1
9988.68 1
9993.5 1
Total_Purchase 1

In [17]:
conf = SparkConf().setMaster("local").setAppName("Big Data ML Class.")
sc = SparkContext(conf = conf)

lines = sc.textFile("churn.csv")
ratings = lines.map(lambda x: x.split(",")[4])
result = ratings.countByValue()
sortedResults = collections.OrderedDict(sorted(result.items()))
for key, value in sortedResults.items():
    print("%s %i" % (key, value))
    
sc.stop()

0 467
1 433
Account_Manager 1

In [18]:
conf = SparkConf().setMaster("local").setAppName("Big Data ML Class.")
sc = SparkContext(conf = conf)

lines = sc.textFile("churn.csv")
ratings = lines.map(lambda x: x.split(",")[7])
result = ratings.countByValue()
sortedResults = collections.OrderedDict(sorted(result.items()))
for key, value in sortedResults.items():
    print("%s %i" % (key, value))
    
sc.stop()

0 750
1 150
Churn 1

In [95]:
from __future__ import print_function

from pyspark.ml.classification import GBTClassifier

from pyspark.sql import SparkSession
from pyspark.ml.linalg import Vectors

# Create a Sparksession (Note, the config section is only for Windows!)
spark = SparkSession.builder.config("spark.sql.warehouse.dir").appName("Classification").getOrCreate()

# Load up our data and convert it to the format MLLÄ°B expects.
inputLines = spark.sparkContext.textFile("np.txt")
data = inputLines.map(lambda x: x.split(",")).map(lambda x: (float(x[0]),Vectors.dense(float(x[1]))))

# Covert this RDD to a DataFrame
colNames = ["label","features"]
df = data.toDF(colNames)

# Note there are lots of cases where you can avoid going from an RDDmto a DataFrame.
# perhaps you are importing data from a real database. Or you are using structured streaming to get your data.

# Let's split our data into training data and testing data
trainTest = df.randomSplit([0.5, 0.5])
trainingDF = trainTest[0]
testDF = trainTest[1]

# Now create our linear regression model
gbtc = GBTClassifier(labelCol="label", maxIter=10)
model = gbtc.fit(trainingDF)



# Now see if we can predict values in our test data.
# Generate predictions using our linear regression model for all feature in our
# Test dataframe:
fullPredictions = model.transform(testDF).cache()

# Extract the predictions and the "known" correct labels.
predictions = fullPredictions.select("prediction").rdd.map(lambda x: x[0])
labels = fullPredictions.select("label").rdd.map(lambda x: x[0])

# Zip them together
predictionAndLabel = predictions.zip(labels).collect()

# Print out the predicted and actual values for each point
for prediction in predictionAndLabel:
    print(prediction)
    
# Stop the session
spark.stop()

22/09/01 00:53:10 ERROR Executor: Exception in task 0.0 in stage 0.0 (TID 0)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 686, in main
    process()
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 678, in process
    serializer.dump_stream(out_iter, outfile)
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 273, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/rdd.py", line 1877, in takeUpToNumLeft
    yield next(iterator)
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 81, in wrapper
    return f(*args, **kwargs)
  File "/var/folders/0t/_tmyvw0x5yz487l03fhlkrsw0000gn/T/ipykernel_25879/3290989384.py", line 13, in <lambda>
ValueError: could not convert string to float: '1.000000000000000000e+00 -1.003975938886225322e+03'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:765)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:747)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$.$anonfun$runJob$1(PythonRDD.scala:166)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
22/09/01 00:53:10 WARN TaskSetManager: Lost task 0.0 in stage 0.0 (TID 0) (192.168.1.37 executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 686, in main
    process()
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 678, in process
    serializer.dump_stream(out_iter, outfile)
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 273, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/rdd.py", line 1877, in takeUpToNumLeft
    yield next(iterator)
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 81, in wrapper
    return f(*args, **kwargs)
  File "/var/folders/0t/_tmyvw0x5yz487l03fhlkrsw0000gn/T/ipykernel_25879/3290989384.py", line 13, in <lambda>
ValueError: could not convert string to float: '1.000000000000000000e+00 -1.003975938886225322e+03'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:765)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:747)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$.$anonfun$runJob$1(PythonRDD.scala:166)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)

22/09/01 00:53:10 ERROR TaskSetManager: Task 0 in stage 0.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0) (192.168.1.37 executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 686, in main
    process()
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 678, in process
    serializer.dump_stream(out_iter, outfile)
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 273, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/rdd.py", line 1877, in takeUpToNumLeft
    yield next(iterator)
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 81, in wrapper
    return f(*args, **kwargs)
  File "/var/folders/0t/_tmyvw0x5yz487l03fhlkrsw0000gn/T/ipykernel_25879/3290989384.py", line 13, in <lambda>
ValueError: could not convert string to float: '1.000000000000000000e+00 -1.003975938886225322e+03'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:765)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:747)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$.$anonfun$runJob$1(PythonRDD.scala:166)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2228)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2249)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2268)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:104)
	at java.base/java.lang.reflect.Method.invoke(Method.java:577)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 686, in main
    process()
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 678, in process
    serializer.dump_stream(out_iter, outfile)
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 273, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/rdd.py", line 1877, in takeUpToNumLeft
    yield next(iterator)
  File "/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 81, in wrapper
    return f(*args, **kwargs)
  File "/var/folders/0t/_tmyvw0x5yz487l03fhlkrsw0000gn/T/ipykernel_25879/3290989384.py", line 13, in <lambda>
ValueError: could not convert string to float: '1.000000000000000000e+00 -1.003975938886225322e+03'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:765)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:747)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$.$anonfun$runJob$1(PythonRDD.scala:166)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	... 1 more

In [96]:
spark.stop()