# Spaceship Titanic

In [144]:
import pandas as pd

In [145]:
df = pd.read_csv("train.csv")
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [12]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [146]:
del df["PassengerId"]

In [147]:
del df["Name"]

In [148]:
del df["Cabin"]

In [49]:
df.VRDeck.value_counts()

0.0       5495
1.0        139
2.0         70
3.0         56
5.0         51
          ...
408.0        1
876.0        1
2891.0       1
2102.0       1
3235.0       1
Name: VRDeck, Length: 1306, dtype: int64

In [149]:
df["HomePlanet"].fillna("Earth",inplace=True,limit=130)

In [150]:
df["HomePlanet"].fillna("Earth",inplace=True,limit=71)

In [151]:
df["CryoSleep"].fillna(False,inplace=True,limit=150)

In [152]:
df["CryoSleep"].fillna(True,inplace=True,limit=67)

In [153]:
df["Destination"].fillna("TRAPPIST-1e",inplace=True,limit=132)

In [154]:
df["Destination"].fillna("55 Cancri e",inplace=True,limit=50)

In [155]:
df["VIP"].fillna(False,inplace=True)

In [156]:
df["Age"].fillna(df["Age"].mean(),inplace=True)

In [157]:
df["RoomService"].fillna(0,inplace=True)

In [158]:
df["FoodCourt"].fillna(0,inplace=True)

In [159]:
df["ShoppingMall"].fillna(0,inplace=True)

In [160]:
df["Spa"].fillna(0,inplace=True)

In [161]:
df["VRDeck"].fillna(0,inplace=True)

In [162]:
df.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   object
 1   CryoSleep     8693 non-null   bool
 2   Destination   8693 non-null   object
 3   Age           8693 non-null   float64
 4   VIP           8693 non-null   bool
 5   RoomService   8693 non-null   float64
 6   FoodCourt     8693 non-null   float64
 7   ShoppingMall  8693 non-null   float64
 8   Spa           8693 non-null   float64
 9   VRDeck        8693 non-null   float64
 10  Transported   8693 non-null   bool
dtypes: bool(3), float64(6), object(2)
memory usage: 568.9+ KB

In [164]:
y = df["Transported"]

In [165]:
del df["Transported"]

In [166]:
df = pd.get_dummies(df,drop_first=True)

In [167]:
df.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Europa,HomePlanet_Mars,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,False,39.0,False,0.0,0.0,0.0,0.0,0.0,1,0,0,1
1,False,24.0,False,109.0,9.0,25.0,549.0,44.0,0,0,0,1
2,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,1,0,0,1
3,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,1,0,0,1
4,False,16.0,False,303.0,70.0,151.0,565.0,2.0,0,0,0,1

In [168]:
from sklearn.model_selection import train_test_split

from sklearn.naive_bayes import MultinomialNB,GaussianNB,BernoulliNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix,precision_score,recall_score,f1_score

In [169]:
def classification_(train,y):
    
    
    g = GaussianNB()
    b = BernoulliNB()
    k = KNeighborsClassifier()
    svc = SVC()
    d = DecisionTreeClassifier()
    log = LogisticRegression()
    gbc = GradientBoostingClassifier()
    mn = MultinomialNB()
    rf = RandomForestClassifier()
    ab = AdaBoostClassifier()

    x = train
    y = y
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size = .2, random_state=42)
    algos = [g,b,k,svc,d,log,gbc,mn,rf,ab]
    algos_name = ['Gaussian','Bernoulli','KNeigbors','SVC','DecisionTree','LogisticRegr','GradientBoosting','Multinominal','RandomForest','AdaBoost']
    
    accuracy = []
    precision = []
    recall = []
    f1 = []
   
    result = pd.DataFrame(columns=['AccuracyScore','PrecisionScore','RecallScore','f1_Score'],index = algos_name)
    
    for i in algos:
        
        predict = i.fit(x_train,y_train).predict(x_test)
        
        accuracy.append(accuracy_score(y_test,predict))
        precision.append(precision_score(y_test,predict))
        recall.append(recall_score(y_test,predict))
        f1.append(f1_score(y_test,predict))
        

    
    
    result.AccuracyScore = accuracy
    result.PrecisionScore = precision
    result.RecallScore = recall
    result.f1_Score = f1
    
    
    return result.sort_values('f1_Score',ascending=False)

In [170]:
classification_(df,y)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

                  AccuracyScore  PrecisionScore  RecallScore  f1_Score
GradientBoosting       0.782634        0.753036     0.847380  0.797428
SVC                    0.774008        0.729858     0.876993  0.796689
Multinominal           0.762507        0.706667     0.905467  0.793809
AdaBoost               0.776308        0.755486     0.823462  0.788011
LogisticRegr           0.778608        0.767064     0.806378  0.786230
RandomForest           0.776308        0.771969     0.790433  0.781092
KNeigbors              0.760782        0.753289     0.782460  0.767598
Gaussian               0.699827        0.642400     0.914579  0.754699
DecisionTree           0.729730        0.716102     0.769932  0.742042
Bernoulli              0.737205        0.766119     0.690205  0.726183

In [175]:
test = pd.get_dummies(test,drop_first=True)

In [176]:
predict = GradientBoostingClassifier().fit(df,y).predict(test)

In [177]:
pid = t["PassengerId"]

In [181]:
predict=pd.DataFrame(predict)

In [182]:
pid=pd.DataFrame(pid)

In [188]:
sonuc = pid.merge(predict,left_index=True, right_index=True)
sonuc.head()

  PassengerId      0
0     0013_01   True
1     0018_01  False
2     0019_01   True
3     0021_01   True
4     0023_01   True

In [ ]:
sonuc[0] =

In [190]:
sonuc.columns = ['PassengerId', "Transported"]

In [193]:
sonuc.columns

Index(['PassengerId', 'Transported'], dtype='object')

In [194]:
sonuc.to_csv("sonuc.csv", index=False)

In [191]:
sonuc.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01         True

In [180]:
type(predict)

numpy.ndarray

In [82]:
t = pd.read_csv("sample_submission.csv")
t.head()

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False

In [118]:
test = pd.read_csv("test.csv")
test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [172]:
del test["PassengerId"]

In [173]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    4277 non-null   object
 1   CryoSleep     4277 non-null   bool
 2   Destination   4277 non-null   object
 3   Age           4277 non-null   float64
 4   VIP           4277 non-null   bool
 5   RoomService   4277 non-null   float64
 6   FoodCourt     4277 non-null   float64
 7   ShoppingMall  4277 non-null   float64
 8   Spa           4277 non-null   float64
 9   VRDeck        4277 non-null   float64
dtypes: bool(2), float64(6), object(2)
memory usage: 275.8+ KB

In [141]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Destination   4277 non-null   object
 4   Age           4277 non-null   float64
 5   VIP           4277 non-null   bool
 6   RoomService   4277 non-null   float64
 7   FoodCourt     4277 non-null   float64
 8   ShoppingMall  4277 non-null   float64
 9   Spa           4277 non-null   float64
 10  VRDeck        4277 non-null   float64
dtypes: bool(2), float64(6), object(3)
memory usage: 309.2+ KB

In [140]:
test.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [121]:
del test["Cabin"]

In [122]:
del test["Name"]

In [123]:
test["HomePlanet"].fillna("Earth",inplace=True)

In [124]:
test["CryoSleep"].fillna(False,inplace=True)

In [125]:
test["Destination"].fillna("TRAPPIST-1e",inplace=True)

In [126]:
test["Age"].fillna(28,inplace=True)

In [127]:
test["VIP"].fillna(False,inplace=True)

In [128]:
test["RoomService"].fillna(0,inplace=True)

In [131]:
test["FoodCourt"].fillna(0,inplace=True)

In [133]:
test["ShoppingMall"].fillna(0,inplace=True)

In [136]:
test["Spa"].fillna(0,inplace=True)

In [139]:
test["VRDeck"].fillna(0,inplace=True)

In [138]:
test.VRDeck.value_counts()

0.0       2757
1.0         72
2.0         38
3.0         33
7.0         23
          ...
1004.0       1
1297.0       1
1397.0       1
2019.0       1
104.0        1
Name: VRDeck, Length: 796, dtype: int64