# COVID19 Global Forecasting (Week 2)

In [1]:
import pandas as pd

In [44]:
train = pd.read_csv("train.csv")
train.head()

   Id Province_State Country_Region        Date  ConfirmedCases  Fatalities
0   1            NaN    Afghanistan  2020-01-22             0.0         0.0
1   2            NaN    Afghanistan  2020-01-23             0.0         0.0
2   3            NaN    Afghanistan  2020-01-24             0.0         0.0
3   4            NaN    Afghanistan  2020-01-25             0.0         0.0
4   5            NaN    Afghanistan  2020-01-26             0.0         0.0

In [45]:
len(train)

20580

In [46]:
len(test)

12642

In [6]:
del train["Province_State"]

In [8]:
del train["Id"]

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20580 entries, 0 to 20579
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country_Region  20580 non-null  object
 1   Date            20580 non-null  object
 2   ConfirmedCases  20580 non-null  float64
 3   Fatalities      20580 non-null  float64
dtypes: float64(2), object(2)
memory usage: 643.2+ KB

In [15]:
train.head()

  Country_Region        Date  ConfirmedCases  Fatalities
0    Afghanistan  2020-01-22             0.0         0.0
1    Afghanistan  2020-01-23             0.0         0.0
2    Afghanistan  2020-01-24             0.0         0.0
3    Afghanistan  2020-01-25             0.0         0.0
4    Afghanistan  2020-01-26             0.0         0.0

In [43]:
test = pd.read_csv("test.csv")
test.head()

   ForecastId Province_State Country_Region        Date
0           1            NaN    Afghanistan  2020-03-19
1           2            NaN    Afghanistan  2020-03-20
2           3            NaN    Afghanistan  2020-03-21
3           4            NaN    Afghanistan  2020-03-22
4           5            NaN    Afghanistan  2020-03-23

In [12]:
del test["Province_State"]

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12642 entries, 0 to 12641
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ForecastId      12642 non-null  int64
 1   Country_Region  12642 non-null  object
 2   Date            12642 non-null  object
dtypes: int64(1), object(2)
memory usage: 296.4+ KB

In [23]:
del test["ForecastId"]

In [37]:
test.tail()

      Country_Region  Month  Day
12637       Zimbabwe      4   26
12638       Zimbabwe      4   27
12639       Zimbabwe      4   28
12640       Zimbabwe      4   29
12641       Zimbabwe      4   30

In [38]:
train.head()

  Country_Region  Month  Day
0    Afghanistan      1   22
1    Afghanistan      1   23
2    Afghanistan      1   24
3    Afghanistan      1   25
4    Afghanistan      1   26

In [27]:
y = train["ConfirmedCases"]

In [35]:
del train["Year"]

In [36]:
del test["Year"]

In [28]:
del train["ConfirmedCases"]

In [25]:
del train["Fatalities"]

In [34]:
train.Year.value_counts()

2020    20580
Name: Year, dtype: int64

In [16]:
train['Date'] = pd.to_datetime(train['Date'])
test['Date'] = pd.to_datetime(test['Date'])

In [31]:
train['Year'] = train['Date'].dt.year
train['Month'] = train['Date'].dt.month
train['Day'] = train['Date'].dt.day

test['Year'] = test['Date'].dt.year
test['Month'] = test['Date'].dt.month
test['Day'] = test['Date'].dt.day

del train["Date"]
del test["Date"]

In [39]:
train = pd.get_dummies(train,drop_first=True)

In [40]:
test = pd.get_dummies(test,drop_first=True)

In [41]:
from xgboost import XGBClassifier
predict = XGBClassifier().fit(train,y).predict(test)

/opt/anaconda3/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[14:13:22] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [42]:
predict = pd.DataFrame(predict)